USE [CPFlow]
GO
/****** Object:  Table [dbo].[Flow_Instance]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flow_Instance](
	[InsId] [int] IDENTITY(1,1) NOT NULL,
	[FlowVerId] [int] NOT NULL,
	[FlowId] [int] NOT NULL,
	[FlowName] [nvarchar](100) NOT NULL,
	[InsTitle] [nvarchar](150) NOT NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[InsState] [int] NOT NULL,
	[InsStateTitle] [nvarchar](50) NOT NULL,
	[InsEndTime] [datetime] NULL,
	[InsEndUserId] [int] NULL,
	[InsEndUserName] [nvarchar](50) NULL,
	[InsEndRemark] [nvarchar](1000) NULL,
	[MainFormPk] [int] NOT NULL,
	[InsEx1] [nvarchar](50) NULL,
	[InsEx2] [nvarchar](50) NULL,
	[InsEx3] [nvarchar](50) NULL,
	[InsEx4] [nvarchar](50) NULL,
	[InsEx5] [nvarchar](50) NULL,
 CONSTRAINT [PK_Flow_Instance] PRIMARY KEY CLUSTERED 
(
	[InsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flow_InstanceForm]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flow_InstanceForm](
	[InsFormId] [int] IDENTITY(1,1) NOT NULL,
	[InsId] [int] NOT NULL,
	[FlowVerId] [int] NOT NULL,
	[FlowId] [int] NOT NULL,
	[FormCode] [nvarchar](50) NOT NULL,
	[FormPK] [int] NOT NULL,
 CONSTRAINT [PK_Flow_InstanceForm] PRIMARY KEY CLUSTERED 
(
	[InsFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flow_InstanceLog]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flow_InstanceLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[InsId] [int] NOT NULL,
	[FlowVerId] [int] NOT NULL,
	[FlowId] [int] NOT NULL,
	[FlowName] [nvarchar](100) NULL,
	[InsTitle] [nvarchar](150) NULL,
	[TaskMakeType] [int] NULL,
	[TaskType] [int] NULL,
	[SubmitPhaseIds] [nvarchar](100) NULL,
	[SubmitPhaseNames] [nvarchar](250) NULL,
	[SubmitTaskIds] [nvarchar](100) NULL,
	[SubmitUserIds] [nvarchar](100) NULL,
	[SubmitUserNames] [nvarchar](250) NULL,
	[RevPhaseId] [int] NULL,
	[RevPhaseName] [nvarchar](50) NULL,
	[RevUserId] [int] NULL,
	[RevUserName] [nvarchar](50) NULL,
	[RevSourceUserId] [int] NULL,
	[RevSourceUserName] [nvarchar](50) NULL,
	[RevTime] [datetime] NULL,
	[RevUserViewTime] [datetime] NULL,
	[MsgIds] [nvarchar](100) NULL,
	[TaskManaTime] [datetime] NULL,
	[TaskManaType] [int] NULL,
 CONSTRAINT [PK_Flow_InstanceLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flow_InstanceLogUnique]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flow_InstanceLogUnique](
	[UniqueLogId] [int] IDENTITY(1,1) NOT NULL,
	[InsId] [int] NOT NULL,
	[FlowVerId] [int] NOT NULL,
	[FlowId] [int] NOT NULL,
	[FlowName] [nvarchar](100) NULL,
	[InsTitle] [nvarchar](150) NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[InsState] [int] NULL,
	[InsStateTitle] [nvarchar](10) NULL,
	[InsEndTime] [datetime] NULL,
	[ManaPhaseIds] [nvarchar](100) NULL,
	[ManaPhaseNames] [nvarchar](1000) NULL,
	[ManaUserId] [int] NULL,
	[MainFormPk] [int] NULL,
 CONSTRAINT [PK_Flow_InstanceLogUnique] PRIMARY KEY CLUSTERED 
(
	[UniqueLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flow_InstanceTask]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flow_InstanceTask](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[InsId] [int] NOT NULL,
	[FlowVerId] [int] NOT NULL,
	[FlowId] [int] NOT NULL,
	[FlowName] [nvarchar](100) NOT NULL,
	[InsTitle] [nvarchar](150) NOT NULL,
	[TaskState] [int] NOT NULL,
	[RebackPreTaskState] [int] NULL,
	[TaskMakeType] [int] NOT NULL,
	[TaskType] [int] NOT NULL,
	[SubmitPhaseIds] [nvarchar](100) NULL,
	[SubmitPhaseNames] [nvarchar](250) NULL,
	[SubmitTaskIds] [nvarchar](100) NULL,
	[SubmitUserIds] [nvarchar](100) NULL,
	[SubmitUserNames] [nvarchar](250) NULL,
	[RevPhaseId] [int] NULL,
	[RevPhaseName] [nvarchar](50) NULL,
	[RevUserId] [int] NULL,
	[RevUserName] [nvarchar](50) NULL,
	[RevSourceUserId] [int] NULL,
	[RevSourceUserName] [nvarchar](50) NULL,
	[RevTime] [datetime] NULL,
	[RevUserIsView] [bit] NULL,
	[RevUserViewTime] [datetime] NULL,
	[PauseRemark] [nvarchar](max) NULL,
	[PauseUserId] [int] NULL,
	[PauseUserName] [nvarchar](50) NULL,
	[PauseTime] [datetime] NULL,
	[MsgIds] [nvarchar](100) NULL,
 CONSTRAINT [PK_Flow_InstanceTask] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Flow_Instance] ON 

INSERT [dbo].[Flow_Instance] ([InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [InsEndUserId], [InsEndUserName], [InsEndRemark], [MainFormPk], [InsEx1], [InsEx2], [InsEx3], [InsEx4], [InsEx5]) VALUES (3041, 4, 1, N'请假流程', N'请假流程_20171223081507', 1, N'管理员', CAST(N'2017-12-23 08:15:19.233' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:23:59.773' AS DateTime), 2, N'测试用户一', NULL, 1024, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Flow_Instance] ([InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [InsEndUserId], [InsEndUserName], [InsEndRemark], [MainFormPk], [InsEx1], [InsEx2], [InsEx3], [InsEx4], [InsEx5]) VALUES (3042, 4, 1, N'请假流程', N'请假流程_20171223082720', 1, N'管理员', CAST(N'2017-12-23 08:27:34.233' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:29:00.403' AS DateTime), 1, N'管理员', NULL, 1026, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Flow_Instance] ([InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [InsEndUserId], [InsEndUserName], [InsEndRemark], [MainFormPk], [InsEx1], [InsEx2], [InsEx3], [InsEx4], [InsEx5]) VALUES (3043, 4, 1, N'请假流程', N'请假流程_20171223082904', 1, N'管理员', CAST(N'2017-12-23 08:44:39.553' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:45:36.840' AS DateTime), 2, N'测试用户一', NULL, 1028, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Flow_Instance] OFF
SET IDENTITY_INSERT [dbo].[Flow_InstanceForm] ON 

INSERT [dbo].[Flow_InstanceForm] ([InsFormId], [InsId], [FlowVerId], [FlowId], [FormCode], [FormPK]) VALUES (3046, 3041, 4, 1, N'FlowForm2', 1024)
INSERT [dbo].[Flow_InstanceForm] ([InsFormId], [InsId], [FlowVerId], [FlowId], [FormCode], [FormPK]) VALUES (3047, 3042, 4, 1, N'FlowForm2', 1026)
INSERT [dbo].[Flow_InstanceForm] ([InsFormId], [InsId], [FlowVerId], [FlowId], [FormCode], [FormPK]) VALUES (3048, 3043, 4, 1, N'FlowForm2', 1028)
SET IDENTITY_INSERT [dbo].[Flow_InstanceForm] OFF
SET IDENTITY_INSERT [dbo].[Flow_InstanceLog] ON 

SET IDENTITY_INSERT [dbo].[Flow_InstanceLog] OFF
SET IDENTITY_INSERT [dbo].[Flow_InstanceLogUnique] ON 

INSERT [dbo].[Flow_InstanceLogUnique] ([UniqueLogId], [InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [ManaPhaseIds], [ManaPhaseNames], [ManaUserId], [MainFormPk]) VALUES (3043, 3041, 4, 1, N'请假流程', N'请假流程_20171223081507', 1, N'管理员', CAST(N'2017-12-23 08:15:19.233' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:23:59.773' AS DateTime), N'1,80,84,82', N'管理员,开始,会签节点,并行节点一', 1, 1024)
INSERT [dbo].[Flow_InstanceLogUnique] ([UniqueLogId], [InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [ManaPhaseIds], [ManaPhaseNames], [ManaUserId], [MainFormPk]) VALUES (3044, 3041, 4, 1, N'请假流程', N'请假流程_20171223081507', 1, N'管理员', CAST(N'2017-12-23 08:15:19.233' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:23:59.773' AS DateTime), N'2', N'测试用户一', 2, 1024)
INSERT [dbo].[Flow_InstanceLogUnique] ([UniqueLogId], [InsId], [FlowVerId], [FlowId], [FlowName], [InsTitle], [CreateUserId], [CreateUserName], [CreateTime], [InsState], [InsStateTitle], [InsEndTime], [ManaPhaseIds], [ManaPhaseNames], [ManaUserId], [MainFormPk]) VALUES (3045, 3042, 4, 1, N'请假流程', N'请假流程_20171223082720', 1, N'管理员', CAST(N'2017-12-23 08:27:34.233' AS DateTime), 4, N'正常结束', CAST(N'2017-12-23 08:29:00.403' AS DateTime), N'1,84,82,85', N'管理员,会签节点,并行节点一,并行汇聚节点', 1, 1026)
SET IDENTITY_INSERT [dbo].[Flow_InstanceLogUnique] OFF
SET IDENTITY_INSERT [dbo].[Flow_InstanceTask] ON 

SET IDENTITY_INSERT [dbo].[Flow_InstanceTask] OFF
ALTER TABLE [dbo].[Flow_InstanceForm]  WITH CHECK ADD  CONSTRAINT [FK_Flow_InstanceForm_Flow_Instance] FOREIGN KEY([InsId])
REFERENCES [dbo].[Flow_Instance] ([InsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flow_InstanceForm] CHECK CONSTRAINT [FK_Flow_InstanceForm_Flow_Instance]
GO
ALTER TABLE [dbo].[Flow_InstanceLog]  WITH CHECK ADD  CONSTRAINT [FK_Flow_InstanceLog_Flow_Instance] FOREIGN KEY([InsId])
REFERENCES [dbo].[Flow_Instance] ([InsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flow_InstanceLog] CHECK CONSTRAINT [FK_Flow_InstanceLog_Flow_Instance]
GO
ALTER TABLE [dbo].[Flow_InstanceLogUnique]  WITH CHECK ADD  CONSTRAINT [FK_Flow_InstanceLogUnique_Flow_Instance] FOREIGN KEY([InsId])
REFERENCES [dbo].[Flow_Instance] ([InsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flow_InstanceLogUnique] CHECK CONSTRAINT [FK_Flow_InstanceLogUnique_Flow_Instance]
GO
ALTER TABLE [dbo].[Flow_InstanceTask]  WITH CHECK ADD  CONSTRAINT [FK_Flow_InstanceTask_Flow_Instance] FOREIGN KEY([InsId])
REFERENCES [dbo].[Flow_Instance] ([InsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Flow_InstanceTask] CHECK CONSTRAINT [FK_Flow_InstanceTask_Flow_Instance]
GO
/****** Object:  StoredProcedure [dbo].[CP_ReadDataPager]    Script Date: 2018-7-8 18:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[CP_ReadDataPager] 
  @sqlstr VARCHAR(MAX),               
  @currentpage INT,                      
  @pagesize INT                        
  AS 
  SET NOCOUNT ON 
  DECLARE @P1 INT,                    
   @rowcount INT 
  EXEC sp_cursoropen @P1 OUTPUT,@sqlstr,@scrollopt=1,@ccopt=1,@rowcount=@rowcount OUTPUT  
  SELECT @rowcount AS 总条数
  SET @currentpage=(@currentpage-1)*@pagesize+1 
  EXEC sp_cursorfetch @P1,16,@currentpage,@pagesize 
  EXEC sp_cursorclose @P1 
  SET NOCOUNT OFF



GO
